<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC IPlayer Checker</title>
    <link rel="stylesheet" href="/static/master.css" type="text/css" />
</head>
<body>
    <h1>BBC iPlayer Checker</h1>
    <h2>Check if any films on your Letterboxd watchlist are currently available on the BBC iPlayer</h2>
    <a href="https://letterboxd.com/crew/watchlist/export">Click to download your Letterboxd watchlist</a>
    <form method="post" action="/results" enctype="multipart/form-data">
        <label for="file">Upload Letterboxd watchlist as csv file</label>
        <input type="file" id="file" name="file" accept=".csv" />
        <br>
        <br>
        <input type="submit" value="Check Films" />
    </form>
    {{if .}}
        {{if eq . "file"}}
            <h3 class="error">Please upload a .csv file</h3>
        {{else if eq . "read"}}
            <h3 class="error">Error while reading csv file</h3>
        {{else if eq . "bbc"}}
            <h3 class="error">Unable to retrieve films from iPlayer</h3>
        {{end}}
    {{end}}
</body>
</html>